header.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #103a53;
    color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
}

header.navbar .brand {
    font-size: 2.2rem;
}

header.navbar .user {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: right;
}

header.navbar .user .welcome small {
    display: block;
}

header.navbar .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}